/* FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@font-face {
    font-family: Ermilov;
    src: '/fonts/Ermilov-bold.otf';
}
@font-face {
    font-family: Mint Spirit;
    src: '/fonts/MintSpirit-Bold.otf';
    font-weight: 700;
}
@font-face {
    font-family: Mint Spirit;
    src: '/fonts/MintSpirit-Regular.otf';
    font-weight: 400;
}

/* NULLIFY AND STANDARTS*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.feed__wave {
    display: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

/* FONTS BY IDS */

#block__desc {
    color: black;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
    letter-spacing: 0px;
}

#block__title {
    color: black;
    font-family: Ermilov;
    font-size: 48px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
}

#link__text {
    color: rgb(0, 0, 0, 0.5);
}

#button__text {
    color: black;
    font-family: Mint Spirit;
    font-size: 23.56px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
}

/* HEADER */

header {
    padding-top: 38px;
    padding-bottom: 38px;
    /* background-color: rgb(0, 0, 0, 0.3); */
}

.container {
    max-width: 1280px;
    margin: 0px auto;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;
    font-family: Mint Spirit;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
}

nav a {
    color: black;
    font-family: Mint Spirit;
    font-size: 17.36px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;

    display: inline-block;
    text-decoration: none;
    margin-right: 31px;
    transition: all .4s ease;
}

nav a:hover {
    color: rgb(0, 0, 0, 0.9);
    transform: scale(1.05);
}

nav a:last-of-type {
    margin-right: 0;
}

/* MAIN */

main {
    padding-top: 158px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.main-content h1 {
    color: black;
    font-family: Ermilov;
    font-size: 48px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0px;
    background: linear-gradient(-89.43deg, rgb(173, 249, 255), rgb(244, 170, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    margin-bottom: 12px;
    width: 606px;
    height: 38px;
}

.main-content p {
    width: 607px;
    height: 167px;
    margin-bottom: 62px;
}

.main-content__button a {
    padding: 21px 156px;

    color: black;
    font-family: Mint Spirit;
    font-size: 23.56px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;

    box-sizing: border-box;
    border: 1px solid rgb(40, 41, 54);
    border-radius: 27px;
    background: rgb(255, 255, 255);

    position: relative;
    overflow: hidden;
    display: inline-block;
    /* Важно для работы эффекта */
}

.main-content__button a::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: rgb(40, 41, 54, 0.1);
    /* Чуть увеличил прозрачность, чтобы эффект был заметнее */
    transform: rotate(35deg);
    transition: left 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-content__button a:hover::after {
    left: 120%;
}


.main-content img {
    width: 683px;
    height: 490px;
    margin-left: -28px;
    margin-bottom: 61px;
}

.square {
    position: absolute;
    border-radius: 30px;
    margin-left: 73px;
    top: 168px;
    background: conic-gradient(from 120deg at 50% 50%,
            #B1F9FF 0%,
            #F3A5FF 40%,
            #FFF7FF 60%,
            #FFF7FF 80%,
            #ADF9FF 100%);
    opacity: 0.7;
    z-index: -1;
    width: 600px;
    height: 600px;
}

/* SCAM */

.scam {
    /* background-color: rgb(0, 0, 0, 0.3); */
}

.scam-content {
    padding-top: 30px;
    display: flex;
    text-align: center;
}

.scam-content div#block__title {
    margin-bottom: 15px;
}

.scam-content div#block__desc {
    margin-bottom: 25px;
}

/* button start */

.toggle-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 57px;
}

.toggle-container {
    width: 824px;
    height: 76px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    position: relative;
    overflow: hidden;
}

.toggle-button {
    width: 409px;
    height: 70px;
    background-color: #FBDFFF;
    border-radius: 40px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: absolute;
    top: 3%;
    left: 3px;
}

.toggle-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 20px;
    color: #333;
    z-index: 2;
    user-select: none
}

.toggle-container.active .toggle-button {
    transform: translateX(409px);
    background-color: #c7fbff;
}

/* button end */

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CARD 1 */

.card1 {
    width: 413px;
    height: 550px;
    border-radius: 30px;
    background: #FBDFFF;
}

.card-title {
    color: rgb(0, 0, 0);
    font-family: Ermilov;
    font-size: 38px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;

    margin-top: 38px;
    margin-bottom: 10px;
}

.card-description {
    width: 366px;
    height: 162px;
    text-align: center;
    margin-left: 24px;
}

.card-image-background {
    border-radius: 30px;
    background: linear-gradient(180.00deg, white, rgba(255, 255, 255, 0) 100%);
    width: 366px;
    height: 269px;
    margin-left: 24px;
}

.card-image-background img {
    width: 328px;
    height: 210px;
    margin-top: 28px;
}

/* CARD 2 */

.card2 {
    width: 413px;
    height: 550px;
    border-radius: 30px;
    background: #E1E0FF;
}

.card2 div.card-title {
    width: 251px;
    height: 103px;
    margin-bottom: 7px;
    margin-left: 81px;
}

.card2 div.card-description {
    width: 356px;
    height: 108px;
    margin-left: 28px;
}

.card2 div.card-image-background {
    width: 366px;
    height: 254px;
}

.card2 div.card-image-background img {
    margin-top: 19px;
    width: 166px;
    height: 235px;
}

/* CARD 3 */

.card3 {
    width: 413px;
    height: 550px;
    border-radius: 30px;
    background: #DDFDFF;
}

.card3 div.card-title {
    margin-bottom: 7px;
}

.card3 div.card-description {
    width: 344px;
    height: 135px;
    margin-left: 35px;
}

.card3 div.card-image-background {
    width: 366px;
    height: 299px;
}

.card3 div.card-image-background img {
    margin-top: 47px;
    width: 310px;
    height: 193px;
}
