/* FONTS IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@font-face {
    font-family: Ermilov;
    src: url('../fonts/Ermilov-bold.otf');
}

@font-face {
    font-family: Mint Spirit;
    src: url('../fonts/MintSpirit-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: Mint Spirit;
    src: url('../fonts/MintSpirit-Regular.otf');
    font-weight: 400;
}

/* NULLIFY AND STANDARTS*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.feed__wave {
    display: none;
}

img {
    user-select: none;
    -webkit-user-drag: none;
}

/* FONTS BY IDS */

#block__desc {
    color: black;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
    letter-spacing: 0px;
}

#block__title {
    color: black;
    font-family: Ermilov;
    font-size: 48px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
}

#link__text {
    color: rgb(0, 0, 0, 0.5);
}

#button__text {
    color: black;
    font-family: Mint Spirit;
    font-size: 23.56px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
}

/* HEADER */

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    transition: ease 0.4s;
    background-color: white;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 38px;
    /* background-color: rgb(0, 0, 0, 0.3); */
}

.container {
    max-width: 1280px;
    margin: 0px auto;
}

.header-content,
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;
    font-family: Mint Spirit;
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0px;
}

nav a {
    color: black;
    font-family: Mint Spirit;
    font-size: 17.36px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;

    display: inline-block;
    text-decoration: none;
    margin-right: 31px;
    transition: all .4s ease;
}

nav a:hover {
    color: rgb(0, 0, 0, 0.9);
    transform: scale(1.05);
}

nav a:last-of-type {
    margin-right: 0;
}

/* MAIN */

main {
    padding-top: 258px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.main-content h1 {
    color: black;
    font-family: Ermilov;
    font-size: 48px;
    font-weight: 700;
    line-height: 37px;
    letter-spacing: 0px;
    background: linear-gradient(-89.43deg, rgb(173, 249, 255), rgb(244, 170, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    margin-bottom: 12px;
    width: 606px;
    height: 38px;
}

.main-content p {
    width: 607px;
    height: 167px;
    margin-bottom: 124px;
}

.main-content__button a {
    padding: 21px 156px;

    color: black;
    font-family: Mint Spirit;
    font-size: 23.56px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;

    box-sizing: border-box;
    border: 1px solid rgb(40, 41, 54);
    border-radius: 27px;
    background: rgb(255, 255, 255);

    position: relative;
    overflow: hidden;
    display: inline-block;
}

.main-content__button a::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: rgb(40, 41, 54, 0.1);
    transform: rotate(35deg);
    transition: left 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.main-content__button a:hover::after {
    left: 120%;
}


.main-content img {
    width: 683px;
    height: 490px;
    margin-left: -28px;
    margin-bottom: 61px;
}

.square {
    position: absolute;
    border-radius: 30px;
    margin-left: 73px;
    top: 168px;
    background: conic-gradient(from 120deg at 50% 50%,
            #B1F9FF 0%,
            #F3A5FF 40%,
            #FFF7FF 60%,
            #FFF7FF 80%,
            #ADF9FF 100%);
    opacity: 0.7;
    z-index: -1;
    width: 600px;
    height: 600px;
}

/* SCAM */

.scam {
    /* background-color: rgb(0, 0, 0, 0.3); */
    padding-bottom: 31px;
}

.scam-content {
    padding-top: 30px;
    display: flex;
    text-align: center;
}

.scam-content div#block__title {
    margin-bottom: 15px;
}

.scam-content div#block__desc {
    margin-bottom: 25px;
}

/* button start */

.toggle-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 57px;
}

.toggle-container {
    width: 824px;
    height: 76px;
    border-radius: 40px;
    background-color: white;
    border: 1px solid black;
    display: flex;
    position: relative;
    overflow: hidden;
}

.toggle-button {
    width: 409px;
    height: 70px;
    background-color: #FBDFFF;
    border-radius: 40px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    position: absolute;
    top: 3%;
    left: 3px;
}

.toggle-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    font-size: 20px;
    color: #333;
    z-index: 2;
    user-select: none
}

.toggle-container.active .toggle-button {
    transform: translateX(409px);
    background-color: #c7fbff;
}

/* button end */

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* CARD 1 */

.card1 {
    width: 413px;
    height: 550px;
    border-radius: 30px;
    background: #FBDFFF;
}

.card-title {
    color: black;
    font-family: Ermilov;
    font-size: 38px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0px;
    text-align: center;

    margin-top: 38px;
    margin-bottom: 7px;
}

.card-description {
    width: 366px;
    height: 162px;
    text-align: center;
    margin-left: 24px;
}

.card-image-background {
    border-radius: 30px;
    background: linear-gradient(180.00deg, white, rgba(255, 255, 255, 0) 100%);
    width: 366px;
    height: 269px;
    margin-left: 24px;
}

.card-image-background img {
    width: 328px;
    height: 210px;
    margin-top: 28px;
}

/* CARD 2 */

.card2 {
    width: 413px;
    height: 550px;
    border-radius: 30px;
    background: #E1E0FF;
}

.card2 div.card-title {
    width: 251px;
    height: 103px;
    margin-left: 81px;
}

.card2 div.card-description {
    width: 356px;
    height: 108px;
    margin-left: 28px;
}

.card2 div.card-image-background {
    width: 366px;
    height: 254px;
}

.card2 div.card-image-background img {
    margin-top: 19px;
    width: 166px;
    height: 235px;
}

/* CARD 3 */

.card3 {
    width: 413px;
    height: 550px;
    border-radius: 30px;
    background: #DDFDFF;
}

.card3 div.card-description {
    width: 344px;
    height: 135px;
    margin-left: 35px;
}

.card3 div.card-image-background {
    width: 366px;
    height: 299px;
}

.card3 div.card-image-background img {
    margin-top: 47px;
    width: 310px;
    height: 193px;
}

/* CARD 4 */

.card4 {
    width: 413px;
    height: 550px;
    border-radius: 30px;
    background: #FBDFFF;
    display: none;
}

.card4 div.card-description {
    width: 366px;
    height: 162px;
    margin-left: 24px;
}

.card4 div.card-image-background {
    width: 366px;
    height: 269px;
}

.card4 div.card-image-background img {
    margin-top: 17px;
    width: 221px;
    height: 221px;
}

/* CARD 5 */

.card5 {
    width: 413px;
    height: 550px;
    border-radius: 30px;
    background: #E1E0FF;
    display: none;
}

.card5 div.card-title {
    width: 251px;
    height: 69px;
    margin-left: 81px;
}

.card5 div.card-description {
    width: 356px;
    height: 135px;
    margin-left: 29px;
}

.card5 div.card-image-background {
    width: 366px;
    height: 269px;
}

.card5 div.card-image-background img {
    margin-top: 32px;
    width: 329px;
    height: 214px;
}

/* CARD 6 */

.card6 {
    width: 413px;
    height: 550px;
    border-radius: 30px;
    background: #DDFDFF;
    display: none;
}

.card6 div.card-description {
    width: 344px;
    height: 162px;
    margin-left: 35px;
}

.card6 div.card-image-background {
    width: 366px;
    height: 269px;
}

.card6 div.card-image-background img {
    margin-top: 15px;
    width: 333px;
    height: 223px;
}

/* FAKES */

.fakes {
    padding-top: 77px;
    padding-bottom: 122px;
    background-color: #FBDFFF;
}

.fakes-content {
    display: flex;
    justify-content: space-between;
}

.fakes-content p#block__title {
    margin-bottom: 36px;
}

.fakes-content p#block__desc {
    margin-bottom: 43px;
    width: 639px;
    height: 405px;
}

.fakes-content__button a {
    padding: 25px 100px;

    color: black;
    font-family: Mint Spirit;
    font-size: 23.56px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;

    box-sizing: border-box;
    border: 1px solid rgb(40, 41, 54);
    border-radius: 27px;
    background: rgb(255, 255, 255);

    position: relative;
    overflow: hidden;
    display: inline-block;
}

.fakes-content__button a::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: rgb(40, 41, 54, 0.1);
    transform: rotate(35deg);
    transition: left 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.fakes-content__button a:hover::after {
    left: 120%;
}

.fakes-content img {
    width: 596px;
    height: 563px;
}

/* RULES */

.rules {
    padding-top: 60px;
    padding-bottom: 54px;
}

.rules-content div#block__title {
    margin-bottom: 21px;
    text-align: center;
}

.rules-content div#block__desc {
    margin-bottom: 34px;
    text-align: center;
}

.swiper-slide {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 27px;
    background: rgb(255, 255, 255);
    min-width: 410px;
    min-height: 385px;
    max-width: 410px;
    max-height: 385px;

    margin-left: -10px;
    margin-right: -30px;
}

.swiper-slide h1 {
    color: black;
    font-family: Ermilov;
    font-size: 28px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;

    margin-top: 28px;
    margin-bottom: 10px;
}

.swiper-slide p {
    color: black;
    font-family: Manrope;
    font-size: 19px;
    font-weight: 200;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}

/* ANON */

.anon {
    padding-top: 40px;
    padding-bottom: 45px;
    background-color: #E1E0FF;
}

.anon-content {
    display: flex;
    justify-content: space-between;
}

.anon-content p#block__title {
    margin-bottom: 30px;
}

.anon-content p#block__desc {
    margin-bottom: 30px;
    width: 632px;
    height: 540px;
}

.anon-content__button a {
    padding: 25px 100px;

    color: black;
    font-family: Mint Spirit;
    font-size: 23.56px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;

    box-sizing: border-box;
    border: 1px solid rgb(40, 41, 54);
    border-radius: 27px;
    background: rgb(255, 255, 255);

    position: relative;
    overflow: hidden;
    display: inline-block;
}

.anon-content__button a::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: rgb(40, 41, 54, 0.1);
    transform: rotate(35deg);
    transition: left 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.anon-content__button a:hover::after {
    left: 120%;
}

.anon-content img {
    width: 441px;
    height: 649px;
    margin-top: 11px;
}

/* TRAIL */

.trail {
    /* background-color: rgb(0, 0, 0, 0.3); */
    padding-top: 46px;
    padding-bottom: 40px;
}

.trail-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.trail-content #block__title {
    text-align: center;
    margin-bottom: 49px;
}

.trail-content .first-block {
    border-radius: 60px 60px 0px 0px;
    background: rgb(251, 223, 255);
    width: 1072px;
    height: 300px;
    margin-bottom: 19px;
}

.trail-content h1 {
    color: rgb(0, 0, 0);
    font-family: Ermilov;
    font-size: 28px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: left;

    padding-top: 42px;
    padding-bottom: 17px;
}

.trail-content p {
    color: rgb(0, 0, 0);
    font-family: Manrope;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
}

.trail-content .first-block h1,
.trail-content .first-block p {
    padding-left: 48px;
}

.trail-content .first-block h1 {
    padding-top: 62px;
}

.trail-content .second-block {
    border-radius: 0px 0px 0px 60px;
    background: rgb(225, 224, 255);
    width: 640px;
    height: 300px;
    margin-right: 19px;
}

.trail-content .second-block h1,
.trail-content .second-block p {
    padding-left: 42px;
}

.trail-content .second-block h1 {
    padding-top: 42px;
}

.trail-content .third-block {
    border-radius: 0px 0px 60px 0px;
    background: rgb(221, 253, 255);
    width: 413px;
    height: 300px;
}

.second-level {
    display: flex;
    flex-direction: row;
}

.trail-content .third-block h1,
.trail-content .third-block p {
    padding-left: 23px;
}

.trail-content .third-block h1 {
    padding-top: 42px;
}

.trail-content #block__desc {
    text-align: center;
    margin-top: 36px;
    margin-bottom: 32px;
}

.info__cloud {
    width: 50%;
    margin: 0 auto;
    border-radius: 50px;
    width: 708px;
    height: 101px;
    background: rgb(151, 183, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.info__cloud p {
    color: rgb(255, 255, 255);
    font-family: Mint Spirit;
    font-size: 23.14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.info__cloud img {
    margin-right: 15px;
}

/* GAMES */

.games {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDFDFF;
    padding-top: 60px;
    padding-bottom: 60px;

    color: rgb(0, 0, 0);
    font-family: Manrope;
    font-size: 20px;
    font-weight: 200;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
}

.games .first-block {
    width: 1280px;
    height: 235px;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;

    margin-bottom: 60px;
}

.games .first-block img#roulette {
    transform: rotate(13deg);
    min-width: 457.98px;
    min-height: 256.2px;
    position: relative;
    right: 20px;
    top: 30px;
}

.games .first-block img#cardstable {
    transform: rotate(-9deg);
    min-width: 539.1px;
    min-height: 289.01px;
    position: relative;
    top: 46px;
}

.games .second-block {
    border-radius: 30px 0px 0px 30px;
    background: rgb(255, 255, 255);
    width: 558px;
    height: 385px;
    margin-right: 60px;
}

.games .second-block p {
    padding-top: 40px;
    padding-left: 40px;
    margin-bottom: 42px;
}

.games-content__button {
    padding-left: 40px;
}

.games-content__button a {
    padding: 25px 119px;

    color: black;
    font-family: Mint Spirit;
    font-size: 23.56px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: none;

    box-sizing: border-box;
    border: 1px solid rgb(40, 41, 54);
    border-radius: 27px;
    background: rgb(255, 255, 255);

    position: relative;
    overflow: hidden;
    display: inline-block;
}

.games-content__button a::after {
    content: "";
    position: absolute;
    top: -50px;
    left: -75px;
    width: 50px;
    height: 155px;
    background: rgb(40, 41, 54, 0.1);
    transform: rotate(35deg);
    transition: left 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.games-content__button a:hover::after {
    left: 120%;
}

.games-content .third-block {
    width: 662px;
    height: 385px;
    border-radius: 0px 30px 30px 0px;
    background: rgb(255, 255, 255);
}

.games-content .third-block p {
    padding-left: 40px;
    padding-top: 43px;
}

/* FOOTER */

footer {
    padding-top: 23px;
    padding-bottom: 23px;
}

.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content p {
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}